body {
    background-color: rgb(80, 186, 80); 
}

#home{
    background-color: rgb(71, 152, 223);
    width: 700px;
    height: 500px;
    margin: 30px auto;
    border: 10px solid black;

}

.home-title {
    background-color: white;
    font-size: 40px;
    padding: 20px;
    text-align: center;
    margin-top: 0px;
    border-bottom: 10px solid black
}

.links {
    /* padding: 20px; */
    /* height: 40px; */
}

.taco-link, .sushi-link, .wing-link {
    display: block;
    text-align: center;
    border: 5px solid black;
    /* margin: 80px; */
    padding: 10px 20px;
    font-size: 25px;
}

.taco-link {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 40px;
    background-color: red;
}

.sushi-link {
    margin: 60px 40px 40px -2px;
    background-color: rgb(202, 232, 11);
}

.wing-link {
    background-color: darkturquoise;
    margin-top: 60px;
    margin-right: 40px;
}
